# Ignore data
decifer/data/ 
decifer/logs/

# Ignore egg folders
**/*.egg-info/

# Ignore .npz files
**/*.npz

# Ignore data
**/*.pkl.gz
**/*.cif
**/*.h5
**/*.json
**/*.log*

# Ignore pycache and notebook checkpoints
**/__pycache__/
**/.ipynb_checkpoints/

# Ignore ckpt files and other pytorch files
**/*.pt

# Ignore images and csvs # TODO for now
**/*.png
**/*.jpg
**/*.csv

# Ignore eval files
**/*.parquet
**/*.eval
**/*.pkl

# Ignore example cifs
example_cifs/
